.gradle/
.idea/
android/build/
core/build/
desktop/build/
libGdxLib/build/
libGdxJnigenLoader/build/
libGdx3D/build/
libGdx/build/
artpuzzle.iml
local.properties
desktop/desktop.iml
core/core.iml
android/ic_launcher-web.png
*.iml
gdx-box2d/build/
/gdx-box2d/build/
error/



